<form *ngIf="autor" name="deleteForm" (ngSubmit)="confirmDelete(autor.id!)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar a operação de deletar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-autor-heading">Você tem certeza que deseja apagar esse Autor?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>
        <button id="jhi-confirm-delete-autor" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Deletar</span>
        </button>
    </div>
</form>
