<div>
    <h2 id="page-heading">
        <span>Autores</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-autor" [routerLink]="['/autor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Criar autor
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="autors?.length === 0">
        <span>Nenhum autor encontrado</span>
    </div>
    <div class="table-responsive" *ngIf="autors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Nome</span></th>
            <th scope="col" ><span>Sexo</span></th>
            <th scope="col" ><span>Email</span></th>
            <th scope="col" ><span>País De Origem</span></th>
            <th scope="col" ><span>CPF</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let autor of autors ;trackBy: trackId">
                <td><a [routerLink]="['/autor', autor.id, 'view' ]">{{autor.id}}</a></td>
                <td>{{autor.nome}}</td>
                <td>{{autor.sexo}}</td>
                <td>{{autor.email}}</td>
                <td>{{autor.paisDeOrigem}}</td>
                <td>{{autor.cpf}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/autor', autor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Visualizar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/autor', autor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit" (click)="delete(autor)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Deletar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
