<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autor">
            <h2><span>Autor</span> {{autor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{autor.nome}}</span>
                </dd>
                <dt><span>Sexo</span></dt>
                <dd>
                    <span>{{autor.sexo}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{autor.email}}</span>
                </dd>
                <dt><span>País De Origem</span></dt>
                <dd>
                    <span>{{autor.paisDeOrigem}}</span>
                </dd>
                <dt><span>CPF</span></dt>
                <dd>
                    <span>{{autor.cpf}}</span>
                </dd>
                <dt><span>Obra(s)</span></dt>
                <dd>
                    <span *ngFor="let obra of autor.obras; let last = last">
                        <a [routerLink]="['/obra', obra?.id, 'view' ]">{{obra.nome}}</a><br>
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
            </button>

            <button type="button"
                    [routerLink]="['/autor', autor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
