<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-autor-heading">Criar ou editar um Autor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required">
                        Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sexo">Sexo</label>
                    <select class="form-control" name="sexo" formControlName="sexo" id="field_sexo">
                        <option value="MASCULINO">MASCULINO</option>
                        <option value="FEMININO">FEMININO</option>
                    </select>
                    <div *ngIf="editForm.get('sexo')!.invalid && (editForm.get('sexo')!.dirty || editForm.get('sexo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexo')?.errors?.required">
                        Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.pattern">
                            Esse campo deve ter a estrutura de um Email.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paisDeOrigem">Pais De Origem</label>
                    <select class="form-control" name="paisDeOrigem" formControlName="paisDeOrigem" id="field_paisDeOrigem">
                        <option value="BRASIL">BRASIL</option>
                        <option value="EUA">EUA</option>
                        <option value="ARGENTINA">ARGENTINA</option>
                        <option value="CHILE">CHILE</option>
                    </select>
                    <div *ngIf="editForm.get('paisDeOrigem')!.invalid && (editForm.get('paisDeOrigem')!.dirty || editForm.get('paisDeOrigem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paisDeOrigem')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="editForm.get('paisDeOrigem')?.value == 'BRASIL'">
                    <label class="form-control-label" for="field_cpf">CPF</label>
                    <input [textMask]="cfgMascara" type="text" class="form-control" name="cpf" id="field_cpf"
                           formControlName="cpf"/>
                    <div *ngIf="editForm.get('cpf')!.invalid && (editForm.get('cpf')!.dirty || editForm.get('cpf')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cpf')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_obras">Obra(s)</label>
                    <select class="form-control" id="field_obras" multiple name="obras" formControlName="obras">
                        <option [ngValue]="getSelected(editForm.get('obras')!.value, obraOption)" *ngFor="let obraOption of obras; trackBy: trackById">{{obraOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salvar</span>
                </button>
            </div>
        </form>
    </div>
</div>
