<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="avaliacao">
            <h2><span>Avaliacao</span> {{avaliacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome Avaliador</span></dt>
                <dd>
                    <span>{{avaliacao.nomeAvaliador}}</span>
                </dd>
                <dt><span>Descrição</span></dt>
                <dd>
                    <span>{{avaliacao.descricao}}</span>
                </dd>
                <dt><span>Nota</span></dt>
                <dd>
                    <span>{{avaliacao.nota}}</span>
                </dd>
                <dt><span>Email Avaliador</span></dt>
                <dd>
                    <span>{{avaliacao.emailAvaliador}}</span>
                </dd>
                <dt><span>Data Avaliação</span></dt>
                <dd>
                    <span>{{avaliacao.dataAvaliacao}}</span>
                </dd>
                <dt><span>Obra</span></dt>
                <dd>
                    <div *ngIf="avaliacao.obra">
                        <a [routerLink]="['/obra', avaliacao.obra?.id, 'view']">{{avaliacao.obra?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
            </button>

            <button type="button"
                    [routerLink]="['/obra', avaliacao.obra?.id, 'view', 'avaliacao', avaliacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
