<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-avaliacao-heading">Criar ou editar Avaliação</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomeAvaliador">Nome Avaliador</label>
                    <input type="text" class="form-control" name="nomeAvaliador" id="field_nomeAvaliador"
                           formControlName="nomeAvaliador"/>
                    <div *ngIf="editForm.get('nomeAvaliador')!.invalid && (editForm.get('nomeAvaliador')!.dirty || editForm.get('nomeAvaliador')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomeAvaliador')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descricao">Descrição</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.maxlength">
                        Esse campo não pode ter mais de 500 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nota">Nota</label>
                    <input type="number" class="form-control" name="nota" id="field_nota"
                           formControlName="nota"/>
                    <div *ngIf="editForm.get('nota')!.invalid && (editForm.get('nota')!.dirty || editForm.get('nota')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nota')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nota')?.errors?.min">
                            Esse campo deve começar em 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nota')?.errors?.max">
                            Esse campo não pode ser maior que 5.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nota')?.errors?.number">
                            Esse campo deve ser um número.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailAvaliador">Email Avaliador</label>
                    <input type="text" class="form-control" name="emailAvaliador" id="field_emailAvaliador"
                           formControlName="emailAvaliador"/>
                    <div *ngIf="editForm.get('emailAvaliador')!.invalid && (editForm.get('emailAvaliador')!.dirty || editForm.get('emailAvaliador')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('emailAvaliador')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('emailAvaliador')?.errors?.pattern">
                            Esse campo deve ter a estrutura de um Email.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataAvaliacao">Data Avaliação</label>
                    <div class="input-group">
                        <input id="field_dataAvaliacao" type="text" class="form-control" name="dataAvaliacao" ngbDatepicker  #dataAvaliacaoDp="ngbDatepicker" formControlName="dataAvaliacao"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataAvaliacaoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dataAvaliacao')!.invalid && (editForm.get('dataAvaliacao')!.dirty || editForm.get('dataAvaliacao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataAvaliacao')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-info"  (click)="previousState()">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span> Salvar</span>
                </button>
            </div>
        </form>
    </div>
</div>
