<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="navbar-title">DesafioJavaSr</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span>Home</span>
                    </span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="nav-link" routerLink="autor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
                    <fa-icon icon="user" fixedWidth="true"></fa-icon>
                    <span>Autor</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="nav-link" routerLink="obra" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" (click)="collapseNavbar()">
                    <fa-icon icon="bookmark" fixedWidth="true"></fa-icon>
                    <span>Obra</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="nav-link"  routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                    <fa-icon icon="book" fixedWidth="true"></fa-icon>
                    <span>API</span>
                </a>
            </li>
            <li *ngSwitchCase="true">
                <a class="nav-link" (click)="logout()" id="logout">
                    <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                    <span>Sign out</span>
                </a>
            </li>
            <li *ngSwitchCase="false">
                <a class="nav-link" (click)="login()" id="login">
                    <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                    <span>Sign in</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
