<div class="row">
    <div class="col-md-9">
        <h1 class="display-4">Bem vindo!</h1>
        <p class="lead">Essa é sua homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Você está logado com o usuário "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Se você quiser </span>
                <a class="alert-link" (click)="login()">entrar</a><span>, você pode tentar a conta padrão:<br/>- login="admin" e senha="admin"</span>
            </div>
        </div>
    </div>
</div>
