<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="obra">
            <h2><span>Obra</span> {{obra.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{obra.nome}}</span>
                </dd>
                <dt><span>Descrição</span></dt>
                <dd>
                    <span>{{obra.descricao}}</span>
                </dd>
                <dt><span>Imagem</span></dt>
                <dd>
                    <div *ngIf="obra.imagemUrl">
                        <img src="{{obra.imagemUrl}}">
                        <br>
                        <a (click)="goToLink(obra.imagemUrl!)">Abrir</a>
                        <br>
                        <span>* A imagem poderá não ser exibida devido a uma política de proteção do browser, clique para abrir em outra janela!</span>
                        <br>
                        <span>* Atenção com os bloqueadores de propagandas, podem bloquear a nova aba!</span>
                    </div>
                </dd>
                <dt><span>Data Publicação</span></dt>
                <dd>
                    <span>{{obra.dataPublicacao}}</span>
                </dd>
                <dt><span>Data Exposição</span></dt>
                <dd>
                    <span>{{obra.dataExposicao}}</span>
                </dd>
                <dt><span>Autor(es)</span></dt>
                <dd>
                    <span *ngFor="let autor of obra.autors; let last = last">
                        <a [routerLink]="['/autor', autor?.id, 'view' ]">{{autor.nome}}</a><br>
                    </span>
                </dd>
            </dl>
            <h2 id="page-heading">
                <span>Avaliações</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avaliacao" [routerLink]="['/obra', obra.id, 'view', 'avaliacao', 'new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span >
            Criar nova avaliação
            </span>
                </button>
            </h2>
            <div class="alert alert-warning" *ngIf="avaliacaos?.length === 0">
                <span>Nenhuma avaliação encontrada</span>
            </div>
            <div class="table-responsive" *ngIf="avaliacaos?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col" ><span>ID</span></th>
                        <th scope="col" ><span>Nome Avaliador</span></th>
                        <th scope="col" ><span>Descricao</span></th>
                        <th scope="col" ><span>Nota</span></th>
                        <th scope="col" ><span>Email Avaliador</span></th>
                        <th scope="col" ><span>Data Avaliacao</span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let avaliacao of avaliacaos ;trackBy: trackId">
                        <td><a [routerLink]="['/obra', obra.id, 'view', 'avaliacao', avaliacao.id, 'view']">{{avaliacao.id}}</a></td>
                        <td>{{avaliacao.nomeAvaliador}}</td>
                        <td>{{avaliacao.descricao}}</td>
                        <td>{{avaliacao.nota}}</td>
                        <td>{{avaliacao.emailAvaliador}}</td>
                        <td>{{avaliacao.dataAvaliacao | date:'mediumDate'}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/obra', obra.id, 'view', 'avaliacao', avaliacao.id, 'view']"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">Visualizar</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/obra', obra.id, 'view', 'avaliacao', avaliacao.id, 'edit']" class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Editar</span>
                                </button>
                                <button type="submit" (click)="delete(avaliacao)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Deletar</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
            </button>

            <button type="button"
                    [routerLink]="['/obra', obra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
            </button>
        </div>
    </div>
</div>
