<div>
    <h2 id="page-heading">
        <span>Obras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-obra" [routerLink]="['/obra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Criar uma nova obra
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>

    <form name="editForm" role="form" novalidate (ngSubmit)="loadPage()" [formGroup]="editForm">
        <div class="form-group">
            <label class="form-control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                   formControlName="nome"/>
            <label class="form-control-label" for="field_descricao">Descrição</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                   formControlName="descricao"/>
            <br>
            <button type="submit" id="save-entity" [disabled]="editForm.invalid" class="btn btn-primary">
                <fa-icon [icon]="'filter'"></fa-icon>&nbsp;<span>Filtrar</span>
            </button>
        </div>
    </form>

    <div class="alert alert-warning" *ngIf="obras?.length === 0">
        <span>Nenhuma obra encontrada</span>
    </div>
    <div class="table-responsive" *ngIf="obras?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span>Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span>Descrição</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataPublicacao"><span>Data publicação</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataExposicao"><span>Data exposição</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obra of obras ;trackBy: trackId">
                <td><a [routerLink]="['/obra', obra.id, 'view' ]">{{obra.id}}</a></td>
                <td>{{obra.nome}}</td>
                <td>{{obra.descricao}}</td>
                <td>{{obra.dataPublicacao | date:'mediumDate'}}</td>
                <td>{{obra.dataExposicao | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/obra', obra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Visualizar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/obra', obra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit" (click)="delete(obra)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Deletar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
