<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-obra-heading">Criar ou editar uma Obra</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descricao">Descrição</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                           formControlName="descricao"/>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.minlength">
                            Esse campo precisa de ao menos 1 caracter.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.maxlength">
                            Esse campo pode ter no máximo 240 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imagem">Imagem</label>
                    <div>
                        <div *ngIf="editForm.get('imagem')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('imagemContentType')!.value, editForm.get('imagem')!.value)">open</a><br>
                            <span class="pull-left">{{editForm.get('imagemContentType')!.value}}, {{byteSize(editForm.get('imagem')!.value)}}</span>
                            <button type="button" (click)="editForm.patchValue({imagem: null});editForm.patchValue({imagemContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagem" (change)="setFileData($event, 'imagem', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagem" id="field_imagem"
                           formControlName="imagem"/>
                    <input type="hidden" class="form-control" name="imagemContentType" id="field_imagemContentType"
                           formControlName="imagemContentType" />
                    <div *ngIf="editForm.get('imagem')!.invalid && (editForm.get('imagem')!.dirty || editForm.get('imagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imagem')?.errors?.required">
                            Esse campo é obrigatório.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataPublicacao">Data Publicação</label>
                    <div class="input-group">
                        <input id="field_dataPublicacao" type="text" class="form-control" name="dataPublicacao" ngbDatepicker  #dataPublicacaoDp="ngbDatepicker" formControlName="dataPublicacao"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataPublicacaoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataExposicao">Data Exposição</label>
                    <div class="input-group">
                        <input id="field_dataExposicao" type="text" class="form-control" name="dataExposicao" ngbDatepicker  #dataExposicaoDp="ngbDatepicker" formControlName="dataExposicao" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataExposicaoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group" [hidden]="editForm.get('id')!.value">
                    <label for="field_autors">Autor(es)</label>
                    <select class="form-control" id="field_autors" multiple name="autors" formControlName="autors">
                        <option [ngValue]="getSelected(editForm.get('autors')!.value, autorOption)" *ngFor="let autorOption of autors; trackBy: trackById">{{autorOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salvar</span>
                </button>
            </div>
        </form>
    </div>
</div>
